@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');/*Link for importing fonts types*/

body{
margin:0;
padding:0;
text-decoration: none;
font-family:'Poppins',sans-serif;

}
header{
width: 100%;
height: 70vh;/* view height is vh used to cover the height from original page*/
overflow:hidden;
position: relative;
object-fit: cover;
margin-bottom: 2rem;

}
.header-image{
width: 100%;
position:absolute;
top: -20vh;
z-index: -1;
}
.header-image img{
width: 100%;
}
.nav{
display:flex;
justify-content: space-around;
align-items:center;
color:white;
font-size: 1rem;
margin:0 40px;
}
.nav p a{
    color: aliceblue;
    text-decoration: none;
}
.nav-bar li a{
    color: aliceblue;
    text-decoration: none;
    
}
.nav-bar{
list-style: none;
font-weight:lighter;
display:flex;
gap:1.5rem;

}
i{
    color:black;
    font-size:35px;
}
.head{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 7vh;
}
.logo{
width: 15vw;
}
.head h3{
font-size: 2.1rem;
color:whitesmoke;
font-weight: 400;
}
.search{
display:flex;
width:55vw;
align-items:center;
border-radius:10px;
background: white;
padding: 5px 4px;
}
.search .search-item{
display:flex;
align-items: center;
margin-left:10px;
}
.search .search-item p{
color: grey;
border-right:1px solid grey;
font-size:15px;
margin-right:10px;
margin:10px;
}
.search .search-item input{
outline:none;
border:none;
width:200%;
padding-left:10px;
font-size:15px;
}
.search .search-item :first-child{
color:pink;

}
.search .search-item :last-child{

color:grey;
}


/*----------------------------------SECTION-1-CSS PART----------------------------------------------------------------------------------*/
.section-1{
display:flex;
justify-content: center;
align-items:center;
margin-bottom:4rem
}
.section-1 .section-1-item{
position:relative;
width:15rem;
margin:3px 5px;
overflow:hidden;
border-radius:10px;
background: white;
border:1px solid whitesmoke;
}
.section-1 .section-1-item img{

width:100%;
border:1 px solid blue;
border-radius:10px;
z-index: -1;
}
.section-1 .section-1-items .items-details{
position:absolute;
bottom:3px;
align-items:center;
background: white;
border: 0 0 10px 10px;
width:100%;
height:25%;
z-index:2;
}
.section-1 .section-1-items .items-details p {
text-align:center;
}
/*----------------------------------------------Section 2 CSS PART----------------------------------------------------*/
.section-2{
width: 1080px;
margin: 0 auto;
margin-bottom:4res;
}
.section-2-heading{
font-size:2rem;
font-weight:400px;
line-height:1.2;
}
.section-2 .section-2-container .section-2-items{
display:flex;
flex-wrap: wrap;
justify-content:space-around;
}
.section-2 .section-2-container .section-2-items .section-2-items{
width:100%;
max-width:26%;
margin-bottom:20px;
border-radius: 10px;
box-shadow: 0 2px 4px rgb(131, 128, 128);
padding:20px;
}
.section-2-item .item-head{
font-size:2rem;
color:rgb(183, 180, 189);
margin:0%;
margin-bottom:5px;
}
.section-2-item .item-subhead{
font-weight:lighter;
color:grey;
margin:0;
}
/*-------------------------------------SECTION 3 CSS--------------------------------*/
.section-3{
height:620px;
background-color: rgb(248, 234, 219);
}
.section-3-container{
width: 1080px;
margin:0 auto;
height: 100%;
display:flex;
justify-content: center;
align-items: center;
}
.section-3-img{
width:400px;

}
.section-3-img img{
width:400px;
}
.section-3-content h1{
font-size:2.5rem;
font-weight:lighter;
margin:0;
margin-bottom:15px;
}
.section-3-content p{
font-size:1.2rem;
font-weight:lighter;
margin:0;
margin-bottom:15px;
}
.section-3-downlode img{
width:30%;
}
footer{
display:flex;
justify-content: center;
height:100px;
align-items: center;
color: rgb(96, 24, 185);
}